<div class="container d-flex justify-content-between align-items-center" style="height: 64px;">
    <a href="https://kamelrechner.eu/it/female">&copy; 2023 - Biblioteca</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Termini e contratto</a>
</div>